html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Russo One";
}

.main {
    padding-top: 40px;
}

.container {
    max-width: 1366px;
    margin: auto;
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-content__product-info {
    margin: 0 40px 103px;
}

.title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

.subtitle {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin: 9px 0 7px;
}

.text {
    color: #7c7c7c;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
}

.nav__item {
    border: 1px dashed #d1d1d1;
    padding: 4px 35px;
}

.nav__img {
    display: inline-block;
    width: 41px;
    height: 33px;
    vertical-align: middle;
    margin-right: 3px;
}

.nav__img-first {
    background: url('../img/nav-img-first.png') no-repeat center;
}

.nav__img-second {
    background: url('../img/nav-img-second.png') no-repeat center;
}

.nav__img-third {
    background: url('../img/nav-img-third.png') no-repeat center;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.product-info {
    padding-left: 60px;
    flex-grow: 1;
}

.preview {
    display: flex;
    justify-content: space-between;
}

.request-btn {
    padding: 10px 22px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-transform: uppercase;
}

.product__name {
    font-size: 60px;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 0;
}

.product__paragraph {
    color: #666666;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 35px;
}

.product_weight_bold {
    color: #000000;
    border: 1px dashed #000000;
    padding: 2px 8px;
}

.product-section {
    display: flex;
    justify-content: space-between;
}

.product-section__item {
    max-width: 210px;
}

.product-section__img {
    width: 195px;
    height: 173px;
}

.product-section__img-first {
    background: url('../img/product-section-first.png') no-repeat center;
}

.product-section__img-second {
    background: url('../img/product-section-second.png') no-repeat center;
}

.product-section__img-third {
    background: url('../img/product-section-third.png') no-repeat center;
}

.product-section__img-fourth {
    background: url('../img/product-section-fourth.png') no-repeat center;
}

.product-section__subtitle {
    font-size: 14px;
    font-weight: 400;
}

.product-section__modifications {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    margin-bottom: 0;
}

.product-section__properties {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
}