html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Russo One";
}

.main {
    padding-top: 40px;
}

.container {
    max-width: 1366px;
    margin: auto;
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-content__product-info {
    margin: 0 40px 103px;
}

.title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

.subtitle {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin: 9px 0 7px;
}

.text {
    color: #7c7c7c;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
}

.nav__item {
    border: 1px dashed #d1d1d1;
    padding: 4px 35px;
}

.nav__img {
    display: inline-block;
    width: 37px;
    height: 32px;
    vertical-align: middle;
    margin-right: 3px;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.product-info {
    padding-left: 60px;
    flex-grow: 1;
    position: relative;
}

.preview {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 22px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-transform: uppercase;
}

.product-name {
    font-size: 60px;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 0;
}

.product__link {
    color: #666666;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 35px;
    text-decoration: none;
}

.product__link_active {
    text-decoration: none;
    color: #000000;
    border: 1px dashed #000000;
    padding: 2px 8px;
}

.product-section {
    display: flex;
    justify-content: space-between;
}

.product-section__item {
    max-width: 210px;
}

.product-section__img-second {
    height: 42%;
}

.product-section__img-third {
    margin-left: 25px;
}

.product-section__img-fourth {
    margin-left: 50px;
}

.product-section__subtitle {
    font-size: 14px;
    font-weight: 400;
}

.product-section__modifications {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.product-section__properties {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-bottom: 20px;
}

.product-section__modifications-wrapper {
    margin-left: 10px;
}

.nav__img-ex-buy {
    width: 25px;
    height: 20px;
    margin-right: 7px;
}

.contacts {
    display: flex;
    padding-bottom: 40px;
}

.contacts__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-left: 12px;
}

.contacs__address {
    margin-left: 93px;
    display: flex;
}

.product__name {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.product__paragraph {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.93px;
    margin-bottom: 22px;
}

.product__list {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 12px;
    margin-bottom: 35px;
}

.product__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 14.93px;
    margin: 0;
    margin-bottom: 21px;
}

.product__photo {
    margin: 50px auto 50px auto;
    display: block;
}

.wrapper {
    max-width: 690px;
}

.background {
    background: url('../img/f3733ed59a4b5a7edb8608d85a44f2ac.png') no-repeat center;
    width: 1103px;
    height: 281px;
    position: absolute;
    top: -40px;
    left: 0px;
    z-index: -1;
}

.ex-buy__container {
    padding-bottom: 80px;
}

.menu-content__nav {
    margin-bottom: 332px;
}

.btn-callback {
    margin-left: 33px;
    font-size: 13px;
}

.phone__ex-buy {
    margin: 50px;
    margin-top: 22px;
}

.copyright {
    color: #a0a0a0;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 14.93px;
    margin-left: 53px;
}